 <!DOCTYPE html>
<html>
	<head>
		<title>IBM Learning Path</title>
		<link rel="stylesheet" type="text/css" href="/style/w3.css">
		<link rel="stylesheet" type="text/css" href="/style/cognitive_call_center.css">
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script type="text/javascript" src="/scripts/cognitive_call_center.js"></script>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<script src="/scripts/util.js"></script>
		<script src="/scripts/checkAuth.js"></script>
	</head>
	<body>
	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-hover-opacity w3-bar-item w3-button w3-cell-row "
onclick="w3_close()">
	<img src="imgs/icons/side_bar_close.png" class="mySidebarextra w3-cell w3-right" id="close-sidebar">
	</button>
  <a href="/ofertas_mp" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Menagement &amp; Plataform</a>
  <a href="/ofertas_indev" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Integration &amp; Development</a>
  <a href="/ofertas_dba" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Digital Business Automation</a>
</div>

<div class="w3-container w3-card w3-animate-top w3-cell-row" id="main">
	<button class="w3-hover-opacity w3-button w3-cell" id="openNav" onclick="w3_open()"><img src="imgs/icons/side_bar_open.png"></button>
	<button class="login w3-button w3-right w3-hover-light-gray">Login</button>
	<a href="/"><h1 class="w3-ibmplex w3-container w3-cell w3-display-middle w3-display-container">IBM <span style="color: #047CC0">Learning Path</span></h1></a>
	</div>
			<h1 class="w3-animate-left">Cognitive Call Center</h1>		
			<a href="https://www.ibm.com/support/knowledgecenter/en/SS4U29/welcome_voicegateway.html
			" target="_blank">
			<div class="course_0 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class="titulo">IBM Voice Gateway</h3>
				<p class="description w3-round-large">IVG Introduction to product</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->				
				</a>
			</div>
			
			<a href="https://www.ibm.com/support/knowledgecenter/en/SS4U29/gettingstarted.html" target="_blank">
			<div class="course_1 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo ">Getting started with IVG</h2>
				<p class="description  w3-round-large"> Architecture vision and product usage</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
				
			</a>
			</div>
			
			<a href="https://github.com/WASdev/sample.voice.gateway" target="_blank">
			<div class="course_2 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">GIT HUB page for IVG</h2>
				<p class="description  w3-round-large">Lots of helpful samples to help jumpstart development with the IBM Voice Gateway.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
				
			</div>
		</a>
			
			<a href="https://www.ibm.com/support/knowledgecenter/en/SS4U29/config.html" target="_blank">
			<div class="course_3 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">Configuration environment for Voice Gateway</h5>
				<p class="description  w3-round-large disc_3">Several steps to make IVG up and running</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://downloads.avaya.com/css/P8/documents/003876928" target="_blank">
			<div class="course_4 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">Configuration for IBM WebSphere</h5>
				<p class="description  w3-round-large">A Sample Configuration for IBM WebSphere Voice Server Automatic Speech Recognition and Text-to-Speech Using Avaya Interactive Response - Issue 1.0</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class="leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://www.ibm.com/watson/services/speech-to-text/" target="_blank">
			<div class="course_5 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">Speech to Text</h2>
				<p class="description  w3-round-large">Easily convert audio and voice into written text for quick understanding of content.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>
			<a href="https://www.ibm.com/watson/developercloud/speech-to-text/api/v1/" target="_blank">
			<div class="course_6 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">Speech to Text II</h2>
				<p class="description  w3-round-large">The IBM® Speech to Text service provides an API that uses IBM's speech-recognition capabilities to produce transcripts of spoken audio. The service can transcribe speech from various languages and audio formats. It addition to basic transcription, the service can produce detailed information about many different aspects of the audio. For most languages, the service supports two sampling rates, broadband and narrowband. It returns all JSON response content in the UTF-8 character set.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://developer.ibm.com/recipes/tutorials/how-to-use-ibm-watson-speech-to-text-language-model-customization-service/" target="_blank">
			<div class="course_7 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">IBM Watson Speech</h2>
				<p class="description  w3-round-large">How to use IBM Watson Speech to Text Language Model Customization service
				</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				
			</div>
			</a>

			<a href="https://www.ibm.com/blogs/watson/2017/05/3-ways-get-watson-speech-text-api/" target="_blank">
			<div class="course_8 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">Get the most out of the Watson Speech to Text API</h5>
				<p class="description  w3-round-large disc_8">Watson Speech to Text API converts audio voice into written text so you can add speech transcription capabilities to your applications. <br> <br>
					– You can use it to create voice-controlled applications and customize the model to improve accuracy for the languages and content you care about. <br>
				– IBM offers a breadth of resources so you can quickly find what’s relevant to your app and business.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				
			</div>
			</a>

			<a href="https://www.youtube.com/watch?v=_K62R9Jnxag" target="_blank">
			<div class="course_9 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">Watson Unity SDK</h2>
				<p class="description  w3-round-large">Watson Unity SDK: Speech to Text example</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				
			</div>
			</a>

			<a href="https://console.bluemix.net/docs/services/text-to-speech/getting-started.html#gettingStarted" target="_blank">
			<div class="course_10 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h4 class=" titulo">Getting started Tutorial</h4>
				<p class="description  w3-round-large">The IBM® Text to Speech service converts written text to natural-sounding speech to provide speech-synthesis capabilities for applications.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				
			</div>
			</a>

			<a href="https://www.ibm.com/watson/services/text-to-speech/" target="_blank">
			<div class="course_11 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h4 class=" titulo">Introduction</h4>
				<p class="description  w3-round-large">Convert written text into natural-sounding audio in a variety of languages and voices.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				
			</div>
			</a>

			<a href="https://www.ibm.com/blogs/bluemix/2017/11/watson-speech-text-text-speech-released-lite-plans/" target="_blank">
			<div class="course_12 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h6 class=" titulo">Watson Speech to Text and Text to Speech have released Lite Plans!</h6>
				<p class="description  w3-round-large">On Nov 1st, 2017, both Watson Speech to Text and Watson Text to Speech released Lite Plans, as part of IBM Cloud Platform’s initiative to roll out Lite Plans across public cloud services.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self-paced</p> <!-- duracao -->
				
			</div>
			</a>
			</div>
			</a>


		</div>
	</body>
</html>