 <!DOCTYPE html>
<html>
	<head>
		<title>Roadmap's Title</title>
		<link rel="stylesheet" type="text/css" href="/style/w3.css">
		<link rel="stylesheet" type="text/css" href="/style/cursos_ICP_4_app.css">
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<script type="text/javascript" src="/scripts/cursos_ICP_4_app.js"></script>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
	</head>
	<body>
	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-hover-opacity w3-bar-item w3-button w3-cell-row "
onclick="w3_close()">
	<img src="imgs/icons/side_bar_close.png" class="mySidebarextra w3-cell w3-right" id="close-sidebar">
	</button>
  <a href="/ofertas_mp" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Menagement &amp; Plataform</a>
  <a href="/ofertas_indev" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Integration &amp; Development</a>
  <a href="/ofertas_dba" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Digital Business Automation</a>
</div>

<div class="w3-container w3-card w3-animate-top w3-cell-row" id="main">
	<button class="w3-hover-opacity w3-button w3-cell" id="openNav" onclick="w3_open()"><img src="imgs/icons/side_bar_open.png"></button>
	<button class="login w3-button w3-right w3-hover-light-gray">Login</button>
	<a href="/"><h1 class="w3-ibmplex w3-container w3-cell w3-display-middle w3-display-container">IBM <span style="color: #047CC0">Learning Path</span></h1></a>
	</div>
			<h1 class="w3-animate-left">IBM Cloud Private for Application Modernization</h1>
			<h2 class="subtitulos">WAS/ICP</h2>		
			<a href=" https://developer.ibm.com/recipes/tutorials/ibm-cloud-private-icp-brings-modernization-to-traditional-datacenter-workloads-with-containerization-technology/" target="_blank">
			<div class="course_0 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class="titulo">Modernization With Containerization Technology</h5>
				<p class="description w3-round-large descurso_1">IBM Cloud Private (ICP) brings Modernization to traditional Datacenter Workloads with Containerization technology</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
				</a>
			</div>
			
			<a href="https://static.rainfocus.com/oracle/oow17/sess/1504872816907001jCpm/PF/ModernizeAppsWithCloudPrivate_1507044790966001n3vb.pdf" target="_blank">
			<div class="course_1 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo ">Modernize your Apps to Microservices</h5>
				<p class="description  w3-round-large">Modernize your Enterprise Apps to
Microservices with IBM Cloud Private <span style="color: #047CC0">(Click here to download the PDF)</span></p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</a>
			</div>
			
			<a href="https://www.youtube.com/watch?v=bY7Ci3mDNVY" target="_blank">
			<div class="course_2 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">IBM Cloud Private (ICP) support offerings</h5>
				<p class="description  w3-round-large">IBM Cloud Private (ICP) support offerings</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">2:14 minutes</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
		</a>
			
			<a href="http://www.redbooks.ibm.com/abstracts/sg248185.html?Open" target="_blank">
			<div class="course_3 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h6 class=" titulo">Modernizing Applications from the Database up to the UI</h6>
				<p class="description  w3-round-large">Modernizing IBM i Applications from the Database up to the User Interface and Everything in Between</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Advanced</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://www.ibm.com/cloud/garage/videos/migrating-websphere-app-to-cloud" target="_blank">
			<div class="course_4 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h6 class=" titulo">Migrating your J2EE Application Server to Cloud Private</h6>
				<p class="description  w3-round-large">Migrating your J2EE Websphere Application Server to IBM Cloud Private</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class="leveldisc w3-display-position">Advanced</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>
			<h3 class="subtitulos">Microservices</h3>
			<a href="https://www.ibm.com/developerworks/cloud/library/cl-bluemix-microservices-in-action-part-1-trs/index.html" target="_blank">
			<div class="course_5 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">Introduction to microservices</h5>
				<p class="description  w3-round-large">Throughout 2014 and into 2015, microservice became the hot new buzzword, quickly supplanting cloud. This tutorial walks you through the history of microservices and what it means to build on a microservice architecture.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>
			<a href="https://developer.ibm.com/wasdev/docs/microservices/" target="_blank">
			<div class="course_6 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">Microservices and WAS Liberty</h5>
				<p class="description  w3-round-large">Microservices! They are everywhere, or at least, the term is. When should you use a microservice architecture? What factors should be considered when making that decision? Do the benefits outweigh the costs? Why is everyone so excited about them, anyway?</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://developer.ibm.com/wasdev/docs/microinvader-importance-common-interfaces-microservices/" target="_blank">
			<div class="course_7 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h6 class=" titulo">Microinvader: The importance of common interfaces in microservices</h6>
				<p class="description  w3-round-large">Common interfaces are essential when building microservices. If each microservice in a larger application has the same interface implemented, it makes maintenance of the microservices easier because of the similarities in the source code. Microinvader is a graphical game that demonstrates some of the concepts of microservices, including the benefits of common interfaces.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://developer.ibm.com/wasdev/docs/microprofile/" target="_blank">
			<div class="course_8 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">MicroProfile and WebSphere Liberty</h5>
				<p class="description  w3-round-large">Microprofile.io is a community created in 2016 dedicated to rapid innovation around Microservices and Enterprise Java, supported by many people from the Java EE community including a number of Java User Groups and Enterprise Java vendors IBM, Red Hat, Tomitribe, and Payara.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"><!-- certificado -->
			</div>
			</a>

			<a href="https://12factor.net/" target="_blank">
			<div class="course_10 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">The twelve factor App</h3>
				<p class="description  w3-round-large">Manifesto for best practices using Microservices</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>
			<h3 class="subtitulos">WAS/ICP</h3>
			<a href="https://developer.ibm.com/wasdev/docs/migration/" target="_blank">
			<div class="course_11 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">Migration</h3>
				<p class="description  w3-round-large">The WebSphere migration toolkit provides a rich set of tools that help you migrate between versions of traditional WebSphere, to Liberty, to cloud platforms such as Liberty for Java on IBM Bluemix Instant Runtimes, and from non-IBM application servers. We do this by scanning your source, binaries, and configurations.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Advanced</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://www.ibm.com/developerworks/library/mw-1701-was-migration/index.html" target="_blank">
			<div class="course_13 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h6 class=" titulo">IBM WebSphere Application Server Migration Toolkit</h6>
				<p class="description  w3-round-large">The IBM® WebSphere® Application Server Migration Toolkit is a suite of tools and knowledge collections. It enables your organization to quickly and cost-effectively migrate to the latest releases of traditional WebSphere Application Server and Liberty. You can migrate from a previous version of WebSphere Application Server or from competitive application servers, such as Apache Tomcat Server, JBoss Application Server, Oracle® Application Server, and Oracle WebLogic Server.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Advanced</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://vimeo.com/33676168" target="_blank">
			<div class="course_14 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h6 class=" titulo">WebSphere Application Server Migration Toolkit</h6>
				<p class="description  w3-round-large">How to Use WebSphere Application Server Migration Toolkit</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Advanced</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">4:56 minutes</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>
		</div>
	</body>
</html>
