 <!DOCTYPE html>
<html>
	<head>
		<title>Roadmap's Title</title>
		<link rel="stylesheet" type="text/css" href="/style/w3.css">
		<link rel="stylesheet" type="text/css" href="/style/icp_cursos.css">
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
		<script type="text/javascript" src="/scripts/icp_cursos.js"></script>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="UTF-8">
		<script src="/scripts/util.js"></script>
		<script src="/scripts/checkAuth.js"></script>
	</head>
	<body>
	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-hover-opacity w3-bar-item w3-button w3-cell-row "
onclick="w3_close()">
	<img src="/imgs/icons/side_bar_close.png" class="mySidebarextra w3-cell w3-right" id="close-sidebar">
	</button>
  <a href="/ofertas_mp" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Menagement &amp; Plataform</a>
  <a href="/ofertas_indev" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Integration &amp; Development</a>
  <a href="/ofertas_dba" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Digital Business Automation</a>
</div>

<div class="w3-container w3-card w3-animate-top w3-cell-row" id="main">
	<button class="w3-hover-opacity w3-button w3-cell" id="openNav" onclick="w3_open()"><img src="imgs/icons/side_bar_open.png"></button>
	<button class="login w3-button w3-right w3-hover-light-gray">Login</button>
	<a href="/"><h1 class="w3-ibmplex w3-container w3-cell w3-display-middle w3-display-container">IBM <span style="color: #047CC0">Learning Path</span></h1></a>
	</div>
			<h1 class="w3-animate-left">IBM Cloud Private</h1>		
			<a href="https://www-01.ibm.com/common/ssi/cgi-bin/ssialias?htmlfid=GMV14152USEN&" target="_blank">
			<div class="course_0 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class="titulo">Managing IT Environments</h3>
				<p class="description w3-round-large">This module will provide you an overview how can NOI can help manage cloud environments.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">54 minutes</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
				</a>
			</div>
			
			<a href="https://www-01.ibm.com/common/ssi/cgi-bin/ssialias?htmlfid=KUM12368USEN#" target="_blank">
			<div class="course_1 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo ">DevOps Application</h3>
				<p class="description  w3-round-large">Learn how APM can help DevOps practitioners streamline testing, deployment and management of hybrid business applications.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level --> 
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">1 hour</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"><!-- certificado -->
			</a>
			</div>
			
			<a href="https://developer.ibm.com/apm/2018/06/26/introducing-ibms-new-service-management-cloud-native-offering-ibm-cloud-app-management/#comments" target="_blank">
			<div class="course_2 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">IBM Cloud App Management</h5>
				<p class="description  w3-round-large">So, what has IBM Cloud App Management to offer? With a strong focus on fast deployment times, scalability, IBM Tivoli Monitoring (ITM), and Application Performance Management (APM) integration, Cloud App Management now positions itself at the forefront of the market as a truly scalable cloud native offering. Let’s look at the key featuresiness applications.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level --> 
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">30 minutes</p> <!-- duraca-->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
		</a>
			
			<a href="https://www.youtube.com/watch?v=aUuhm8hRqVM" target="_blank">
			<div class="course_3 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">What is TWS?</h3>
				<p class="description  w3-round-large">Whether you are new to TWS, or just need a refresher, this presentation will walk you through all the pieces that make up the Workload Automainess applications.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> </p> <!-- level --> 
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class=" duracaodisc w3-display-position">24 minutes</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://www-03.ibm.com/services/learning/ites.wss/zz-en?pageType=course_description&cc=&courseCode=TOD43G" target="_blank">
			<div class="course_4 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">Agile Service Manager</h3>
				<p class="description  w3-round-large">This module will provide you with an overview of the IBM Netcool Agile Service Managemente to better understand the new features.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class="leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">2 minutes</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>

			<a href="https://event.on24.com/wcc/r/1777034/A72F8F358B0BBDE7C4506A279A31458E" target="_blank">
			<div class="course_5 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">IBM Cloud App Performance</h3>
				<p class="description  w3-round-large">In-depth look at IBM's Application Performance Management solutions including results from the recently published Forrester Consulting report: "The Total Economic Impact™Of IBM Cloud Application Performance Management (APM)." In addition hear about the latest application performance management solutions from IBM that facilitate application modernization processes.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Foundation</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">40 minutes</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"> <!-- certificado -->
			</div>
			</a>
			<a href="https://www-03.ibm.com/services/learning/ites.wss/zz-en?pageType=course_description&cc=&courseCode=TOD43G" target="_blank">
			<div class="course_5 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">IBM Netcool Insight 1.4</h3>
				<p class="description  w3-round-large">This course shows you how to solve business problems using an integrated suite of products. The products integrated in this course include Netcool/OMNIbus, Netcool/Impact, IBM Operations Analytics Log Analysis, IBM Tivoli Network Manager, and Netcool Configuration Manager.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Intermediate</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">16 hours</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"><!-- certificado -->
			</div>
			</a>

			<a href="https://www.imwuc.org/p/do/sd/sid=3424" target="_blank">
			<div class="course_5 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">Best Practices</h3>
				<p class="description  w3-round-large">You have completed the heavy lifting of migrating applications to the cloud. But you are not done yet. What is your monitoring strategy for the cloud? What are the best practices to monitor the cloud infrastructure, deployed applications and user experience? This session will answer these questions and explore the various IBM APM and Analytics offerings while sharing customer scenarios, to help you weigh different approaches. Having a comprehensive monitoring strategy is critical, as most customers use a combination of public and private cloud environments. Finally, this session will discuss strategies for monitoring cloud native applications that use microservices and are extremely dynamic, using approaches like docker and autoscaling.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Intermediate</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">2 horas</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"><!-- certificado -->
			</div>
			</a>

			<a href="https://www.imwuc.org/p/do/sd/sid=3424" target="_blank">
			<div class="course_5 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h3 class=" titulo">Webinar</h3>
				<p class="description  w3-round-large">IBM  commissioned  Forrester  Consulting  to  conduct  this  Total Economic  Impact  (TEI)  study  that  examines  the  potential  return on  investment  (ROI)  for  IBM  Netcool  Operations  Insight  (NOI). Join this session to learn more.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Intermediate</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">Self paced</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"><!-- certificado -->
			</div>
			</a>

			<a href="https://www.imwuc.org/p/do/sd/sid=3424" target="_blank">
			<div class="course_5 course w3-round w3-round-xlarge w3-display-container w3-card">
				<h5 class=" titulo">IBM Cloud Management 8.1.4</h5>
				<p class="description  w3-round-large">This course teaches new and experienced operators, administrators, and implementers of Application Performance Management v8.1.4 how to effectively use the tools to manage their enterprise monitoring needs.</p>
				<img src="imgs/icons/school.svg" class="information level w3-display-position"><p class=" leveldisc w3-display-position">Intermediate</p> <!-- level -->
				<img src="imgs/icons/schedule.svg" class="information duracao w3-display-position"><p class="w3-display-position duracaodisc">2 horas</p> <!-- duracao -->
				<img src="imgs/icons/check_circle_outline.svg" class="information certificado w3-display-position"><!-- certificado -->
			</div>
			</a>
			</div>
			</a>


		</div>
	</body>
</html>