<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>IBM Learning Path</title>
<link rel="stylesheet" href="/style/w3.css">
<link rel="stylesheet" href="/style/index.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">

<script src="/scripts/util.js"></script> 

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-hover-opacity w3-bar-item w3-button w3-cell-row "
onclick="w3_close()">
  <img src="/imgs/icons/side_bar_close.png" class="mySidebarextra w3-cell w3-right" id="close-sidebar">
  </button>
  <a href="/ofertas_mp" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Menagement &amp; Plataform</a>
  <a href="/ofertas_indev" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Integration &amp; Development</a>
  <a href="/ofertas_dba" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Digital Business Automation</a>
</div>

<div class="w3-container w3-card w3-animate-top w3-cell-row" id="main">
  <button class="w3-hover-opacity w3-button w3-cell" id="openNav" onclick="w3_open()"><img src="/imgs/icons/side_bar_open.png"></button>
  <div id="loginDiv"></div>
  <div id="modal" class="w3-modal">
    <div class="w3-modal-content">
    <header class="w3-container w3-teal"> 
    <span onclick="document.getElementById('modal').style.display='none'" 
    class="w3-button w3-display-topright">&times;</span>
    <h2>Modal Header</h2>
  </header>
  <div class="w3-container">
    <p>Some text..</p>
    <p>Some text..</p>
  </div>
  <footer class="w3-container w3-teal">
    <p>Modal Footer</p>
  </footer></div></div>
  <a href="/"><h1 class="w3-ibmplex w3-container w3-cell w3-display-middle w3-display-container">IBM <span style="color: #047CC0">Learning Path</span></h1></a>
  </div>
    <div id="setores">
      <a href="/ofertas_mp">
      <div class="setor w3-animate-left" id="manaplat">
        <h3>Management &amp; Plataform</h3>
        </div></a>
        <a href="/ofertas_indev">
      <div class="setor w3-animate-opacity" id="intdev">
        <h3>Integration &amp; Development</h3>
      </div></a>
      <a href="/ofertas_dba">
      <div class="setor w3-animate-right" id="digibusi">
        <h3>Digital Business Automation</h3>
        </div></a>
  </div>
  <footer>
    <p>IBM Learning Path, 2018.</p>
  </footer>
  <script src="/scripts/index.js"></script> 
</body>
</html>
