<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>IBM Learning Path</title>
<link rel="stylesheet" href="/style/w3.css"> <!-- css da w3schools -->
<link rel="stylesheet" href="/style/ofertas_dba.css">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet"> <!-- Fonte padrão visual da IBM -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="/scripts/ofertas_dba.js"></script>
<!-- <script src="/scripts/util.js"></script>
<script src="/scripts/checkAuth.js"></script> -->
</head>
<body>
	<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-hover-opacity w3-bar-item w3-button w3-cell-row "
onclick="w3_close()">
  <img src="imgs/icons/side_bar_close.png" class="mySidebarextra w3-cell w3-right" id="close-sidebar">
  </button>
  <a href="/ofertas_mp" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Menagement &amp; Plataform</a>
  <a href="/ofertas_indev" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Integration &amp; Development</a>
  <a href="/ofertas_dba" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Digital Business Automation</a>
</div>

<div class="w3-container w3-card w3-animate-top w3-cell-row" id="main">
  <button class="w3-hover-opacity w3-button w3-cell" id="openNav" onclick="w3_open()"><img src="imgs/icons/side_bar_open.png"></button>
  <button class="login w3-button w3-right w3-hover-light-gray">Login</button>
  <a href="/"><h1 class="w3-ibmplex w3-container w3-cell w3-display-middle w3-display-container">IBM <span style="color: #047CC0">Learning Path</span></h1></a>
  </div>
   <article>
    <h1 class="titulo">Digital Business Automation ofertas</h1>
    <a href="/dba_digital_worker">
   <div class="ofertas ofa w3-display-container w3-animate-top">
     <p class="nomeof">Digital Worker</p>
   </div></a>

   <a href="/digitalize_negocios_na_cloud">
    <div class="ofertas ofb w3-display-container w3-animate-top">
      <p class="nomeof">Digitalize negócios na Cloud</p>
    </div></a>

    <a href="/digital_labor">
      <div class="ofertas ofc w3-display-container w3-animate-top">
        <p class="nomeof">Digital Labor</p>
      </div></a>
   </article>
</body>
</html>
</body>