<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>IBM Learning Path</title>
  <link rel="stylesheet" href="/style/w3.css"> <!-- css da w3schools -->
  <link rel="stylesheet" href="/style/ofertas_mp.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
  <!-- Fonte padrão visual da IBM -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/scripts/ofertas_mp.js"></script>
  <script src="/scripts/util.js"></script>
<script src="/scripts/checkAuth.js"></script>
</head>

<body>
  <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-hover-opacity w3-bar-item w3-button w3-cell-row " onclick="w3_close()">
      <img src="/imgs/icons/side_bar_close.png" class="mySidebarextra w3-cell w3-right" id="close-sidebar">
    </button>
    <a href="/ofertas_mp" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Menagement
      &amp; Plataform</a>
    <a href="/ofertas_indev" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Integration
      &amp; Development</a>
    <a href="/ofertas_dba" class="mySidebarextra w3-ibmplex w3-bar-item w3-button w3-padding-32 w3-hover-light-gray">Digital
      Business Automation</a>
  </div>

  <div class="w3-container w3-card w3-animate-top w3-cell-row" id="main">
    <button class="w3-hover-opacity w3-button w3-cell" id="openNav" onclick="w3_open()"><img src="/imgs/icons/side_bar_open.png"></button>
    <button class="login w3-button w3-right w3-hover-light-gray">Login</button>
    <a href="/">
      <h1 class="w3-ibmplex w3-container w3-cell w3-display-middle w3-display-container">IBM <span style="color: #047CC0">Learning
          Path</span></h1>
    </a>
  </div>
  <article class="ofertas-holder">
    <div class="center">
      <h1 class="titulo">Management &amp Plataform ofertas</h1>
    </div>
    <div class="center">
      <a href="/foundation_skill_series">
        <div class="ofertas ofa w3-display-container w3-animate-top">
          <p class="nomeof">IBM Foundation <br> Skill Series</p>
        </div>
      </a>
      <a href="/icp_cursos">
        <div class="ofertas ofb w3-display-container w3-animate-top">
          <p class="nomeof">IBM Cloud Private</p>
        </div>
      </a>
      <a href="/was">
        <div class="ofertas ofc w3-display-container w3-animate-top">
          <p class="nomeof">WebSphere <br> Application Server</p>
        </div>
      </a>
      <a href="/cursos_icp_4_app">
        <div class="ofertas ofd w3-display-container w3-animate-top">
          <p class="nomeof">WAS ICP</p>
        </div>
      </a>
      <a href="/cognitive_call_center">
        <div class="ofertas ofe w3-display-container w3-animate-top">
          <p class="nomeof">Cognitive <br> Call Center</p>
        </div>
      </a>
    </div>
  </article>
</body>

</html>
</body>